.App {
  text-align: center;
}

.App-header {
  box-shadow: 1px 2px 4px #282c34;
  min-height: 10vh;
  display: grid;
  grid-template-columns: auto auto auto;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 30px;
  background-color: #f8f9fa;
}

.App-link {
  color: #eef5f7;
}


